body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border: 1px solid black;
  padding: 5rem;
  border-radius: 2rem;
  width: 65vw;
}

.button {
  width: 10vw;
}
