$primary-color-dark: #0288d1;
$primary-color: #03a9f4;
$primary-color-light: #b3e5fc;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

.add-ingredients-modal-container {
  background-color: $primary-color;
}

.add-ingredients-list-container {
  display: flex;
  background-color: $primary-color;
  border-radius: 2rem;
  color: black;
  padding: 2rem;
  margin: auto;
  .header {
    background-color: $primary-color;
    color: $primary-color-text;
    padding: 1rem;
  }
}

.ingredient-list-item-wrapper {
  padding: .5rem;
}

.ingredient-list-item {
  margin: 1em;
}

.modal-ingredients-button-container {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin: auto;
  padding: .75rem 0;
  .button {
    background-color: $accent-color;
    color: $primary-text-color;
  }
}
