.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  margin: 0;
  padding: 0.6rem 0.6rem .3rem 0.6rem;
  width: 90vw; }

.header-text {
  padding: 0.2rem;
  margin: 0;
  font-size: 3rem; }
