.footer-container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: .8rem;
  padding: .8rem;
  bottom: 0;
  width: 100%; }

.footer-disclaimer {
  font-size: 1rem;
  font-style: italic;
  margin: auto; }
  .footer-disclaimer p {
    margin: 0;
    padding: 0.4rem; }

.footer-name {
  font-size: 1rem;
  margin: auto; }
  .footer-name p {
    margin: 0;
    padding: 0.4rem; }
