@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather|Open+Sans|Raleway:300|Roboto+Slab');

.headline-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 30px auto;
  width: 90%;
}

.headline-text { 
  margin: 0 50px;
  font: 24px 'Lora', serif;
}

.photo-container {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-top: 10px;
}

.photo-array-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 90%;
  min-height: 400px;
  margin: auto;
}

.photo-list-item {
  display: flex;
  margin: 3px;
  padding: 3px;
  list-style: none;
}