@import url("https://fonts.googleapis.com/css?family=Lora|Merriweather+Sans:300|Open+Sans|Raleway:300|Roboto+Slab|Josefin+Sans:300");

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}
