@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');

html, body {
  background-color: #CADB7A;
}
.App {
  
  text-align: center;
}

.display {
  background-color: #CADB7A;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: center;
  width: 50%;
}

.quote {
  color: white;
  font: 34px 'Roboto Condensed', sans-serif;
}

.author {
  color: white;
  font: 24px 'Open Sans', sans-serif;
  text-align: right;
}

.button {
  color: white;
  background-color: #CADB7A;
  border: none;
  margin-top: 25px;
  font-size: 24px;
}

.twitter-button {
  color: white;
  background-color: #CADB7A;
  border: none;
  margin-top: 10px;
}