@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');

html, body {
  background-color: #CADB7A;
}
.App {
  
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.display {
  background-color: #CADB7A;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: center;
  width: 50%;
}

.quote {
  color: white;
  font: 34px 'Roboto Condensed', sans-serif;
}

.author {
  color: white;
  font: 24px 'Open Sans', sans-serif;
  text-align: right;
}

.button {
  color: white;
  background-color: #CADB7A;
  border: none;
  margin-top: 25px;
}