@import url("https://fonts.googleapis.com/css?family=Lora|Merriweather+Sans:300|Open+Sans|Raleway:300|Roboto+Slab|Josefin+Sans:300");
.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 4rem auto 2rem;
  width: 90%;
  // border: 1px solid red;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-text {
  margin: 0 25px;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}

@media all and (max-width: 500px) {
  .header-container {
    justify-content: center;
    margin: 0.5rem auto;
  }
  .header-text {
    font: 18px/1 "Josefin Sans", sans-serif;
  }
}

@media all and (max-width: 425px) {
  .header-container {
    width: 100%;
  }
}
