.navbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    border: 1px solid black;
    background: rgb(184, 184, 184);
    color: white;
    font-size: 16px;
  }
  
  .navbar-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    width: 70%;
  }
  .navbar-links li {
    margin: 5px;
  }
  
  .navbar-date-time {
    align-self: center;
    margin: 5px;
  }
  