html {
  font-size: 10px;
  height: 100%; }

body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%; }

.App {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 95vw; }
