//temporary setting for victory chart creation
html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;  
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}
