.headline-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 20px auto;
  width: 90%;
  // border: 1px solid red;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 70%;
}

.headline-text {
  margin: 0 25px;
  font: 28px/1.5 "Josefin Sans", sans-serif;
}

@media all and (max-width: 500px) {
  .headline-container {
    justify-content: center;
    margin: 5px auto;
  }

  .headline-text {
    font: 18px/1 "Josefin Sans", sans-serif;
  }
}
